<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumbways Preclass</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
</head>
<body class="px-48">

<nav class="bg-white border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://res.cloudinary.com/zenbusiness/q_auto/v1/logaster/logaster-2022-07-one-piece-symbol.png" width="120" alt="Flowbite Logo" />
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
         {{#if user}}
         <div class="flex items-center">
            <div class="me-3 user">{{user.username}}</div>
            <form action="/logout" method="POST" class="btn-logout me-4">
                <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Logout</button>
            </form>
         </div>
            
        {{else}}
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        <li>
           <a href="/login" class="block text-gray-900 rounded p-0 hover:text-blue-900 " aria-current="page">Login</a>
        </li>
        <li>
          <a href="/register" class="block text-gray-900 rounded p-0 hover:text-blue-900 t">Register</a>
        </li>
      </ul>
         {{/if}}
    </div>
  </div>
</nav>

<div class="border border-gray-600 rounded-md p-3">
        <img class="w-full h-96 object-cover rounded-lg" src="/{{char.photo}}" alt="Character Photo">
        <div class="text-xl font-bold my-2">{{char.name}}</div>

        <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
            <span class="relative px-3 py-1.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                {{char.type_name}}</span>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>